/* twarchiveDarkModeOverrides.scss
 *
 * Styles for twarchive tweets.
 * Used internally, sites using this theme do not need to include this.
 */

:root {
  --twarchive-body-bg-color: var(--twarchive-twitter-blck);
  --twarchive-body-fg-color: var(--twarchive-twitter-2xlightgray);
  --twarchive-border-color: var(--twarchive-twitter-darkgray);
  --twarchive-about-button-bg-color: var(--twarchive-twitter-darkgray);
  --twarchive-about-button-fg-color: var(--twarchive-twitter-2xlightgray);
  --twarchive-about-text-bg-color: var(--twarchive-twitter-darkgray);
  --twarchive-about-text-fg-color: var(--twarchive-twitter-2xlightgray);
  --twarchive-expanded-header-fg-color: var(--twarchive-twitter-darkgray);
}