:root {
  // https://usbrandcolors.com/twitter-colors/
  --twarchive-twitter-blue: #1da1f2;
  --twarchive-twitter-black: #14171a;
  --twarchive-twitter-darkgray: #657786;
  --twarchive-twitter-lightgray: #aab8c2;
  --twarchive-twitter-xlightgray: #e1e8ed;
  --twarchive-twitter-2xlightgray: #f5f8fa;

  --twarchive-color-darkergray: rgb(57, 57, 57);
}
