<!DOCTYPE html>
<html style="height: 100%; overflow: visible;">

{{- $tweet := index .Site.Data.twarchive .Params.tweetid -}}

<head>
  <base target="_parent" />
  <title>Tweet from @{{ $tweet.username}} on {{ .Date.Format .Site.Params.dateform }}</title>
  <style>
    {{- $twarchiveRoot := resources.Get "styles/twarchiveRoot.scss" | resources.ToCSS | minify -}}
    {{- $twarchiveRoot.Content | safeCSS -}}
  </style>
  <style id="twarchive-dark-mode-overrides" media="all and (prefers-color-scheme: dark)">
    {{- $twarchiveDarkModeOverrides := resources.Get "styles/twarchiveDarkModeOverrides.scss" | resources.ToCSS | minify -}}
    {{- $twarchiveDarkModeOverrides.Content | safeCSS -}}
  </style>
</head>

<body>
<section class="twarchive-content">
  {{ partial "twarchiveSingleTweet.html" (dict "ctx" . "tweetId" .Params.tweetid "tweetInstance" .File.ContentBaseName "suggestion" .Params.suggestion "disclaimer" .Params.disclaimer) }}
</section>

{{- $twarchiveChildFrameBundleJs := slice (resources.Get "scripts/twarchiveCommon.js") (resources.Get "scripts/twarchiveChildFrame.js") | resources.Concat "twarchiveChildFrameBundleJs.js" | minify | fingerprint }}
<script>
  const tweetId = "{{ .Params.tweetId }}";
  const tweetInstance = "{{ .File.ContentBaseName }}";

  {{- $twarchiveChildFrameBundleJs.Content | safeJS }}

  // Note that the observer fires when it starts.
  // https://stackoverflow.com/questions/67751039/javascript-resizeobserver-is-triggered-unexpected
  twarchiveResizeObservationStart();

  twarchiveDisplayDataUri();
</script>

</body>
</html>