{{/** This is just an example single.html.
    * You probably want to override this with one in your site which uses your site's CSS, partials, etc.
    */}}

{{- define "title" -}}
  {{- $tweet := index .Site.Data.twarchive .Params.tweetid -}}
  {{- $tweetDate := $tweet.date | time }}
  <h1 id="single-tweet-page-h1">
    Tweet from @{{ $tweet.username}} on {{ $tweetDate.Format .Site.Params.dateform }}
  </h1>
{{- end -}}

{{- define "main" -}}
  {{- $tweet := index .Site.Data.twarchive .Params.tweetid -}}
  {{- $tweetDate := $tweet.date | time }}

  <p><a href='{{ ref . "/twarchive" }}'>About archived tweets</a></p>
  {{- partial "twarchiveFrame.html" (dict "ctx" . "tweetInstance" .File.ContentBaseName) -}}
  <script>
    twarchiveDisplayDataUri();
  </script>
{{- end -}}
