/* twarchiveStyles.scss
 *
 * This file should be referenced by a site using this theme.
 */

@import "twarchiveColors.scss";

details.twarchive-collapsible summary {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 25em;
}

details.twarchive-collapsible[open] summary span.twarchive-collapsible-summary {
  color: var(--twarchive-expanded-header-fg-color);
}

iframe.twarchive-html-iframe {
  border: none;
  width: 25rem;
}

@media (max-width: 400px) {
  iframe.twarchive-html-iframe {
    width: 20rem;
  }
}
