{{/** Show an iframe of a tweet page generated in content/twarchive/$tweetId/
    *
    * Expects to be passed a dict of the form:
    *  ctx            The dot context
    *  tweetInstance  The instance of a tweet, the filename of the markdown file
    */}}
{{- $twarchiveSection := .ctx.Site.GetPage "/twarchive" }}
{{- $tweetInstancePage := $twarchiveSection.GetPage .tweetInstance -}}
{{- $tweetId := $tweetInstancePage.Params.tweetId -}}
{{- $tweet := index .ctx.Site.Data.twarchive $tweetId -}}
{{- $tweetArchivePageRef := printf "/twarchive/%s/index.tweet.html" .tweetInstance }}

<iframe
  class="twarchive-html-iframe twarchive-html-iframe-{{ $tweetId }} twarchive-html-iframe-instance-{{ .tweetInstance }}"
  twarchive-tweet-id="{{ $tweetId }}"
  twarchive-tweet-instance="{{ .tweetInstance }}"
  style="box-sizing: border-box;"
  scrolling="no"
  src='{{ $tweetArchivePageRef }}'
></iframe>

<script>
  twarchiveResizeTweetFrames();

  if (!window.tweetIframeEventListenerHasBeenSet) {
    // console.log("Setting twarchiveReceiveFrameMessage event listener...")
    window.tweetIframeEventListenerHasBeenSet = true;
    window.addEventListener("message", twarchiveReceiveFrameMessage)
  // } else {
  //   console.log("Not setting event listener as twarchiveReceiveFrameMessage is already set")
  }

</script>
